<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <!-- Custom styles -->
    <link href="/css/css/sticky-footer-navbar.css" rel="stylesheet">
    <!-- JQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Custom javascript -->
    <script src="../static/js/searchcategories.js"></script>

    <title th:text="#{label.pages.newmagazine.title}"></title>
</head>
<body>
<nav th:insert="~{navigation :: navigation}">
</nav>
<div class="container">
    <main>
        <div class="py-5 center">
            <form action="#" method="post" th:object="${magazine}" th:action="@{/savemagazine}">
                <div class="form-group row">
                    <div class="mb-3">
                        <label th:utext="#{label.pages.newmagazine.magazinename}"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="magazinename" th:field="*{magazineName}"/>
                            <span th:if="${#fields.hasErrors('magazineName')}" th:errors="*{magazineName}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="mb-3">
                        <label th:utext="#{label.pages.newmagazine.editor}"></label>
                        <div class="input-group">
                            <th:block th:if="${not #lists.isEmpty(editors)}">
                               <select th:field="*{editor}" class="form-control" required>
                                    <option th:each="edit : ${editors}" th:text="${edit.editorName}" th:value="${edit.idEditor}" />
                               </select>
                            </th:block>
                            <th:block th:if="${#lists.isEmpty(editors)}">
                                <select th:field="*{editor}" class="form-control" required>
                                    <option th:text="${editor.editorName}" th:value="${editor.idEditor}" />
                                </select>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="mb-3">
                        <label th:utext="#{label.pages.newmagazine.issn}"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="magazineIssn" th:field="*{magazineIssn}"/>
                            <span th:if="${#fields.hasErrors('magazineIssn')}" th:errors="*{magazineIssn}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="mb-3">
                        <label th:utext="#{label.pages.newmagazine.categories}"></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="categories" th:field="*{categories}"/>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" th:utext="#{label.pages.newmagazine.submit}"></button>
            </form>
        </div>
    </main>
</div>
<div th:insert="~{footer :: footer}"></div>
</body>
</html>