<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <!-- Custom styles -->
    <link href="/css/css/sticky-footer-navbar.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:utext="#{label.pages.issue.title}"></title>
</head>
<body>
<nav class="navbar navbar-default" th:insert="~{navigation :: navigation}">
</nav>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h2 class="card-text" th:utext="${editor.editorName}"></h2>
            </div>
            <span th:if="${editor.magazines != null}"></span>
            <ul class="list-group" th:each="magazine : ${editor.magazines}">
                <li class="list-group-item"><a th:href="@{/magazine/{id}(id=${magazine.idMagazine})}" th:utext="${magazine.magazineName}"></a></li>
            </ul>
            <span th:unless="${editor.magazines == null}"></span>
            <p th:utext="#{text.pages.editor.nomagazines}"></p>
        </div>
        <div class="card-footer">
            <a th:href="@{/addmagazine/{idEditor}(idEditor=${editor.idEditor})}" th:utext="#{text.pages.editor.addmagazine}"></a>
        </div>
    </div>
</div>
<footer class="footer"th:insert="~{footer :: footer}">
</footer>
</body>
</html>