<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <!-- Custom styles -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:utext="#{label.pages.editors.title}">Editors</title>
</head>
<body>
<nav class="navbar navbar-default" th:insert="~{navigation :: navigation}">
</nav>
<div class="container">
    <div th:switch="${editors}">
        <h2 th:case="null" th:utext="#{text.pages.editors.noeditors}"></h2>
            <div th:case="*">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" th:utext="#{text.pages.editors.theditorname}"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" th:each="editor : ${editors}">
                            <td><a th:href="@{/editor/{id}(id=${editor.idEditor})}" th:utext="${editor.editorName}"></a></td>
                            <td><a th:href="@{/editeditor/{id}(id=${editor.idEditor})}" th:utext="#{text.pages.editors.editlink}"></a></td>
                            <td><a th:href="@{/deleteeditor/{id}(id=${editor.idEditor})}" th:utext="#{text.pages.editors.deletelink}"</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>
<footer class="footer"th:insert="~{footer :: footer}">
</footer>
</body>
</html>