<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Custom styles -->
    <link href="/css/sticky-footer-navbar.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:utext="#{label.pages.issues.title}"></title>
</head>
<body>
<nav class="navbar navbar-default" th:insert="~{navigation :: navigation}">
</nav>
<div class="container">
    <div th:switch="${issues}">
        <h2 th:case="null" th:utext="#{text.pages.issues.noissues}"></h2>
        <div th:case="*">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" th:utext="#{text.pages.issues.issuesnumber}"></th>
                </tr>
                </thead>
                <tbody>
                <tr scope="row" th:each="issue : ${issues}">
                    <td><a th:href="@{/issue/{id}(id=${issue.idIssue})}" th:utext="${issue.number}"></a></td>
                    <td><a th:href="@{/editissue/{id}(id=${issue.idIssue})}" th:utext="#{text.pages.issues.editlink}"></a></td>
                    <td><a th:href="@{/deleteissue/{id}(id=${issue.idIssue})}" th:utext="#{text.pages.issues.deletelink}"></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<footer class="footer"th:insert="~{footer :: footer}">
</footer>
</body>
</html>